# Build outputs
bin/
bin-int/
x64/
x86/
Debug/
Release/
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.iobj
*.ipdb
*.idb
*.log

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/